# Tags: data discovery

![](materialy/praca_koncowa_strona_tytulowa_BD.doc)

## CEL: globalna firma konsultingowa chce otworzyć oddzial wspierajacy rozwiazania BI w konkretnych technologiach
1. zrobić ranking krajów/regionów w/g (**zbadać trend**):
* najaktywniejszych(liczba odpowiedzi)
* najbardziej doswiadczonych (badges/votes)
userów z podzialem na:
* technologie Oracle/MSSQL(tags)
* dziedzine BI/DWH/Operational w/g Postów (zawierajacych okreslenia typu BI, nazwy Tooli do BI i wyrazów zwiazanych)



1. Tags, Posts ... ladowane do sparka, czyszczone, transformowane, zrzucane do innej lokalizacji, wykorzystywane przez aplikacje

Posts join Tags on 

select
from

In [1]:
import pyspark
from pyspark.sql import Row
from collections import OrderedDict
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StringType,IntegerType,StructField
sc = pyspark.SparkContext(appName="DBstackex")
from pyspark.sql import SQLContext
# from pyspark.sql.types import *
sqlContext = SQLContext(sc)
from pyspark.sql.types import *
import matplotlib.pyplot as plt
from pyspark.sql.functions import col

In [17]:
import json

In [29]:
tags_rdd=sc.textFile("./data/results/Tags/part-00000").map(lambda x: json.loads(x))
tags_rdd.take(2)

[{'Count': '13032',
  'ExcerptPostId': '2667',
  'Id': '1',
  'TagName': 'mysql',
  'WikiPostId': '2666'},
 {'Count': '1492',
  'ExcerptPostId': '3131',
  'Id': '2',
  'TagName': 'innodb',
  'WikiPostId': '3130'}]

In [30]:
tags_rdd.map(lambda x:x['TagName']).take(5)

['mysql', 'innodb', 'myisam', 'schema', 'nosql']

## Unique tags

In [4]:
df = sqlContext.read.json("./data/results/Tags/part-00000")
df.select(df["TagName"], df["Count"].cast('int')) \
.filter(df["Count"] > 300).sort(col("Count").desc()).show(50)

+-------------------+-----+
|            TagName|Count|
+-------------------+-----+
|         sql-server|17351|
|              mysql|13032|
|                sql| 7966|
|         postgresql| 6160|
|             oracle| 4720|
|    database-design| 3517|
|    sql-server-2008| 3433|
| sql-server-2008-r2| 3264|
|    sql-server-2012| 3199|
|        performance| 2066|
|        replication| 2049|
|              index| 1708|
|              t-sql| 1552|
|             innodb| 1492|
|    sql-server-2014| 1467|
|  query-performance| 1430|
|             backup| 1345|
|    sql-server-2005| 1284|
|            mongodb| 1139|
|      oracle-11g-r2| 1009|
|          mysql-5.5|  994|
|  stored-procedures|  973|
|       optimization|  935|
|               join|  927|
|        permissions|  831|
|            trigger|  788|
|            restore|  773|
|               ssis|  665|
|           security|  639|
|          mysql-5.6|  627|
|            mariadb|  623|
|             schema|  619|
|               ssms|  607|
|             select|  553|
|                db2|  542|
|        foreign-key|  521|
|       partitioning|  513|
|availability-groups|  512|
|     postgresql-9.3|  512|
|          migration|  492|
|         oracle-11g|  491|
|          mysqldump|  487|
|             update|  487|
|              linux|  471|
|          ms-access|  469|
|            locking|  448|
|                php|  440|
|       index-tuning|  435|
|    transaction-log|  430|
|      normalization|  426|
+-------------------+-----+
only showing top 50 rows

In [ ]:
new_df=df.select(df["Count"].cast('int'), df["ExcerptPostId"].cast('int'), df["Id"].cast('int'), "TagName", df["WikiPostId"].cast('int'))
new_df=new_df.filter(new_df["Count"] > 1000).sort(new_df["Count"])
new_df.show()

In [ ]:
%matplotlib inline
pdf=new_df.toPandas().plot(x="TagName", y="Count", kind="bar")

In [ ]:
# from bokeh.plotting import figure, output_file, show
# plot = Bar(data=new_df.toPandas(),values='Count')
# plot.Bar(x=plotDf["TagName"], y=plotDf["Count"], size=20)
# show(plot)

In [ ]:
# df.sqlContext.read.schema(schema).json(events) \
# .select($"action", $"timestamp".cast(LongType)).show

In [ ]:
df.select("TagName", "Count").registerTempTable("tags")
# df.filter(df["Count"] > 1000).show()