In [20]:
import re
with open("object_1.txt", "r") as file:
    file_content = file.read()
    print(file_content)

CREATE TABLE hr.admin_emp (
         empno      NUMBER(5) PRIMARY KEY,
         ename      VARCHAR2(15) NOT NULL,
         ssn        NUMBER(9) ENCRYPT,
         job        VARCHAR2(10),
         mgr        NUMBER(5),
         hiredate   DATE DEFAULT (sysdate),
         photo      BLOB,
         sal        NUMBER(7,2),
         hrly_rate  NUMBER(7,2) GENERATED ALWAYS AS (sal/2080),
         comm       NUMBER(7,2),
         deptno     NUMBER(3) NOT NULL
                     CONSTRAINT admin_dept_fkey REFERENCES hr.departments
                     (department_id))
   TABLESPACE admin_tbs
   STORAGE ( INITIAL 50K);

COMMENT ON TABLE hr.admin_emp IS 'Enhanced employee table';
/

In [15]:
print ('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [18]:
file = open("object_1.txt", "r")
file.readline()

'CREATE TABLE hr.admin_emp (\n'

In [49]:
pattern = re.compile("TABLE", re.IGNORECASE)

for i, line in enumerate(open('object_1.txt')):
    for match in re.finditer(pattern, line):
        print ('Found on line %s: %s' % (i+1, match.groups()))

Found on line 1: ()
Found on line 15: ()
Found on line 18: ()
Found on line 18: ()

In [52]:
pattern_match = pattern.search("blabalal TABLE gfadfg")
print (pattern.search("adasdgfTABLEdafgdgtable skdf"))
if pattern_match:
    print ('Match found: ', pattern_match.group())
else:
    print ('No match')
# pattern = re.compile("TABLE", re.IGNORECASE)

# with open("object_1.txt", "r") as file:
#     for line in file:
#         print match()

<_sre.SRE_Match object; span=(7, 12), match='TABLE'>
Match found:  TABLE